<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'myproject/css/welcome_admin.css'%}">
  <style>
    #id1:hover{
                box-shadow: 10px 10px 10px 10px grey;
              }
  </style>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Student</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/student_home/">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="background-color: white;padding: 20px 0 20px 0;">
  <div class="container" style="padding: 20px 0 20px 0;">
    <form action="/updategrades/" method="post">
      {% csrf_token %}
      <div class="card-body">
        <div class="form-group">
          <label>Enter SSC Percentage</label>
          <input type="text" class="form-control" name="ssc_percentage" placeholder="Example 95.00" value="{{ student.ssc_percentage}}" required>
        </div>
        <div class="form-group">
          <label>Enter HSC Percentage</label>
          <input type="text" class="form-control" name="hsc_percentage" placeholder="Example 85.84" value="{{ student.hsc_percentage}}" required>
        </div>
        <div class="form-group">
          <label>Enter Sem1 FY SGPA</label>
          <input type="text" class="form-control" name="sgpa_fy_sem1" placeholder="Example 7.5" value="{{ student.sgpa_fy_sem1}}" required>
          <input type="hidden"  name="student_id" value="{{ student.admin.id }}">
        </div>
        <div class="form-group">
          <label>Enter Sem2 FY SGPA</label>
          <input type="text" class="form-control" name="sgpa_fy_sem2" placeholder="Example 10.00" value="{{ student.sgpa_fy_sem2}}" required>
        </div>
        <div class="form-group">
          <label>Enter Sem1 SY SGPA</label>
          <input type="text" class="form-control" name="sgpa_sy_sem1" placeholder="Example 7.5" value="{{ student.sgpa_sy_sem1}}" required>
        </div>
        <div class="form-group">
          <label>Enter Sem2 SY SGPA</label>
          <input type="text" class="form-control" name="sgpa_sy_sem2" placeholder="Example 10.00" value="{{ student.sgpa_sy_sem2}}" required>
        </div>
        <div class="form-group">
          <label>Enter Sem1 TY SGPA</label>
          <input type="text" class="form-control" name="sgpa_ty_sem1" placeholder="Example 7.5" value="{{ student.sgpa_ty_sem1}}" required>
        </div>
        <div class="form-group">
          <label>Enter Sem2 TY SGPA</label>
          <input type="text" class="form-control" name="sgpa_ty_sem2" placeholder="Example 10.00" value="{{ student.sgpa_ty_sem2}}" required>
        </div>
        <div class="form-group">
          <label>Enter Sem1 BTECH SGPA</label>
          <input type="text" class="form-control" name="sgpa_btech_sem1" placeholder="Example 7.5" value="{{ student.sgpa_btech_sem1}}" required>
        </div>
        <div class="form-group">
          <label>Enter Sem2 BTECH SGPA</label>
          <input type="text" class="form-control" name="sgpa_btech_sem2" placeholder="Example 10.00" value="{{ student.sgpa_btech_sem2}}" required>
        </div>
        <div class="form-group">
          <label>Enter Average ELQ Score in SY</label>
          <input type="text" class="form-control" name="avg_elq_sy" placeholder="Example 407.27" value="{{ student.avg_elq_sy}}" required>
        </div>
        <div class="form-group">
          <label>Enter Average ELQ Score in TY</label>
          <input type="text" class="form-control" name="avg_elq_ty" placeholder="Example 900.00" value="{{ student.avg_elq_ty}}" required>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="form-group">
        <input type="submit" class="form-control" value="Submit">
      </div>
    </form>
  </div>
</div>

<div style="background-color: var(--one-color);text-align: center;padding: 50px;">
  <b style="color: var(--two-color);font-size: 50px;">Themes</b>
</div>
<div>
  <div class="card-group">
    <div style="background-color: var(--one-color);" id="icon3" class="card">
      <img src="https://wallpapercave.com/wp/wp3439738.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="color: var(--two-color);text-align: center;" class="card-title">Light mode</h5>
      </div>
    </div>
    <div style="background-color: var(--one-color);" id="icon2" class="card">
      <img src="https://i.imgur.com/22JZRPa.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="color: var(--two-color);text-align: center;" class="card-title">Dracula mode</h5>
      </div>
    </div>
    <div style="background-color: var(--one-color);" id="icon" class="card">
      <img src="https://wallpaperaccess.com/full/2562648.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 style="color: var(--two-color);text-align: center;" class="card-title">Dark Mode</h5>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center;color: var(--two-color);padding: 20px 0 20px 20px;font-size: 20px;background-color: var(--one-color);">
  <div class="row" >
    <div class="col-lg-6">
      <b style="font-size: 30px">About Group-47:</b>
      <br>
      <ul class="list-unstyled">
        <li>Abraham Ahmed, student from Computer department.</li>
        <li>Ashutosh Rajput, student from Computer department.</li>
        <li>Atharva Mohod, student from Computer department.</li>
        <li>Saurabh Bade, student from ENTC department.</li>
      </ul>
    </div>
    <div class="col-lg-6">
      <b style="font-size: 30px">Instructor:</b>
      <br>
      <p>Mrs.Ranjana Badre and Mr.Rudraguada Patil are the instructors of Group-47.</p>
      <br>
    </div>
  </div>
</div>
<div style="color: var(--one-color);font-size: 20px;text-align: center;background-color: var(--two-color);">
  <h>@MITAOE</h>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="{% static 'myproject/js/light.js'%}" type="text/javascript"></script>
<script src="{% static 'myproject/js/dark.js'%}" type="text/javascript"></script>
<script src="{% static 'myproject/js/dracula.js'%}" type="text/javascript"></script>
</body>
</html>